metrics:
  wal_directory: /var/lib/alloy/wal

prometheus:
  global:
    scrape_interval: 5s

  scrape_configs:
    - job_name: "{{ inventory_hostname }}"
      static_configs:
        - targets: ["localhost:12345"]
