[Unit]
Description=Grafana Alloy Service
After=network.target

[Service]
ExecStart=/usr/local/bin/alloy run --config.file={{ alloy_config_path }}
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
